[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-html = "*"
pytest = "*"
coverage = "*"
requests-mock = "*"
freezegun = "*"

[packages]
behave = "*"
requests = "*"
python-docx = "*"
radon = "*"
unidecode = "*"

[requires]
python_version = "3.8"
